
// backend
node_modules

# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# Hugging Face cache / downloaded models
.cache/
huggingface/
hf_cache/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db